# gedit backups
*~

# These should go in /var on production systems, but we'll leave them for now
data/cache/**
data/resource_cache/**
data/templates_c/**
data/tmp/**
data/users/**

# User/site modules and template overrides
user/**

# Exclude local changes to the config file
conf/config.php

# Exclude composer installed stuff
composer.lock
vendor/

# Exclude PHP APC monitor
apc.php

# Eclipse
.buildpath
.project
.settings/
