# gedit backups
*~

# npm/gulp
/node_modules/
/dist/

# These should go in /var on production systems, but we'll leave them for now
/data/cache/**
/data/resource_cache/**
/data/templates_c/**
/data/tmp/**
/data/users/**
/data/print_debug/**
/data/logs/**

# User/site modules and template overrides
/user/**

# Exclude local changes to the config file
/conf/config.php
/conf/custom-model-order.yml
/conf/model-config.yml
/conf/selector-config.yml
/conf/oauth.yml

# Exclude logs
*.log

# Exclude composer installed stuff
#composer.lock
/vendor/**

# Exclude PHP APC monitor
apc.php

# Eclipse
.buildpath
.project
.settings/

# vscode
.vscode/**

# FOP PDF
/PDF/
