@CHARSET "UTF-8";

.help-text {
	font-size: 13px;
	line-height: 1.24em;
	margin: 1em 0;
	font-weight: normal;
}

#char-count {
	font-weight: bold;
    color: red;
    float: right;
}

span#char-count.min-length {
	color: green;
}
